.serviceshead {
    color: #000;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.servicesrow{
    border: 1px solid #C7C7C7;
    border-top: 0px;
}

.numberofservicewithtime{color: #646464;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}

    .blueservicehead{border: 1px solid #FBFEFF;

        background: #E1F5FF;}